/* 기본 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #fefaf6;
    color: #333;
    padding: 0px;
}

/* 헤더 */
header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 24px;
    color: #006699;
    cursor: pointer;
}

header p {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

/* 슬라이더 (main.jsp)_______________________ */
.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 500px;
    margin-top: 0px;
    z-index: 0;
}

/* 슬라이드 백 그라운드 */
.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #f4a261; /* 주황색 -> 감성오렌지로 변경*/
    z-index: -1; /* 슬라이드 뒤로 보내기 */
}

.slider-text {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translateX(-50%);
    color: black;
    font-size: 32px;
    line-height: 1.2;
    z-index: 1;
    text-align: left;
    white-space: nowrap;
}

.slider-text strong {
    font-size: 36px;
    font-weight: bold;
}

.slide-wrapper {
    width: 100%;
    height: 100%;
}

.slide-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

/* 메인 슬롯 */
.slide-slot {
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    transition: all 0.4s ease;
    align-self: flex-end;
}

/* 작은 슬롯 */
#slot0, #slot1, #slot3, #slot4 {
    width: 240px;
    height: 160px;
    font-size: 14px;
    line-height: 120px;
    align-self: flex-end;
}

/* 가운데 슬롯 (크게) */
#slot2 {
    width: 450px;
    height: 300px;
    font-size: 20px;
    line-height: 160px;
    background-color: #ddd;
}

.slide-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slide-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 이미지 안 텍스트 */
.image-label {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    max-width: 80%;
    line-height: 1.2;
    white-space: nowrap; /* 줄바꿈 방지 */
    text-overflow: ellipsis;
    overflow: hidden;
}
.slide-btn {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.slide-btn:hover {
    background-color: rgba(0,0,0,0.8);
}

/* 카테고리 섹션 */
.카테고리-wrapper {

    /*background-color: #ffffff;*/
    /*padding: 64px;*/
    /*border-radius: 12px;*/
    /*box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);*/

    margin: 40px auto;
    transition: transform 0.5s ease-in-out;
    max-width: 1600px;

    margin-bottom: 100px; /* footer와 간격 조절 */

}

section.카테고리 {
    margin: 40px auto;
    transition: transform 0.5s ease-in-out;
    max-width: 1600px;

    background-color: #ffffff;
    padding: 45px 64px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

}

section.카테고리 h2 {
    display: inline-block;  /* 크기 조절 가능하게 */
    padding: 4px 10px;  /* 안쪽 여백 */
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #d7dbf8;  /* 테두리 */
    background-color: #f9f9f9;
    border-radius: 6px; /* 둥글게 */
    color: #3f51b5;;
    box-sizing: border-box;
    margin-bottom: 24px;

}

section.카테고리 .items {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    gap: 20px;
    margin-bottom: 10px;
    flex-flow: row nowrap;

    border-bottom: none; /* 밑줄 없애기 */

    /*background-color: #ffffff;*/
    /*padding: 64px;*/
    /*border-radius: 12px;*/
    /*box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);*/

}

section.카테고리 .item {
    color: #fff;
    width: 100%;
    max-width: 220px;
    flex: 1 1 auto;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: filter 0.3s ease; /* 부드러운 효과 */
}

/* hover */
section.카테고리 .item:hover {
    filter: brightness(110%); /* 10% 밝게 */
    transform: scale(1.03); /* 1.03배 커지게 */
}

section.카테고리 .item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px 12px 0 0; /* 상단만 둥글게 */
    display: block;
}

section.카테고리 .item .region {
    display: inline-block;
    margin: 12px 12px 4px 12px; /* 위 오른쪽 아래 왼쪽 ( 시계방향 ) */
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 500;
    background-color: #e2e7fb;
    color: #3f51b5;
    border-radius: 12px;
}

section.카테고리 .item .title {
    margin: 6px 12px 12px 12px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*!* hover *!*/
/*section.카테고리 .item:hover {*/
/*    filter: brightness(110%); !* 10% 밝게 *!*/
/*    transform: scale(1.03); !* 1.03배 커지게 *!*/
/*}*/

/*section.카테고리 .item img {*/
/*    width: 100%;*/
/*    height: 160px;*/
/*    object-fit: cover;*/
/*    border-radius: 12px 12px 0 0; !* 상단만 둥글게 *!*/
/*    display: block;*/
/*}*/

/*section.카테고리 .item .region {*/
/*    display: inline-block;*/
/*    margin: 12px 12px 4px 12px;*/
/*    padding: 2px 10px;*/
/*    font-size: 13px;*/
/*    font-weight: 500;*/
/*    background-color: #e2e7fb;*/
/*    color: #3f51b5;*/
/*    border-radius: 12px;*/
/*}*/

/*section.카테고리 .item .title {*/
/*    margin: 6px 12px 12px 12px;*/
/*    font-size: 16px;*/
/*    color: #333;*/
/*    font-weight: bold;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 1;*/
/*    -webkit-box-orient: vertical;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

section.카테고리 .item p {
    margin: 0;
    margin-top: 12px;
    font-size: 15px;
    color: #333;

    line-height: 1.4;
    box-sizing: border-box;
}

section.카테고리 .item a {
    text-decoration: none; /* 밑줄 제거 */
}

/*  */
.카테고리-btn {
    max-width: 600px; /* 선 길이 제한 */
    text-align: center;
    margin: 40px auto 0 auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.카테고리-btn a {
    font-size: 16px;
    font-weight: bold;
    color: #3f51b5;
    text-decoration: none;  /* 밑줄 제거 */
    transition: color 0.3s ease;
}

.카테고리-btn a:hover {
    color: #1a237e;
    text-decoration: underline;
}

section.카테고리 .item p {
    margin: 0;
    margin-top: 12px;
    font-size: 15px;
    color: #333;

    line-height: 1.4;
    box-sizing: border-box;
}

section.카테고리 .item a {
    text-decoration: none; /* 밑줄 제거 */
}


/* 검색 결과 (search.jsp) */
.result-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.result-item {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* 상세 페이지 (detail.jsp) */
main h2 {
    font-size: 26px;
    margin-top: 20px;
}

main p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

main section {
    margin-top: 30px;
}

main section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

main section div {
    background-color: #eee;
    padding: 15px;
    border-radius: 8px;
}

.nearby {
    display: flex;
    gap: 10px;
}

.nearby > div {
    flex: 1;
    background-color: #ddd;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}



/* search 페이지 */
.items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 (선택 사항) */
}

.item {
    margin-right: 20px;
    width: 20%; /* 부모 요소(.items) 너비의 20% */
    max-width: 250px; /* 이미지의 최대 너비 제한 (원래 크기 이상으로 커지지 않도록) */
    flex-shrink: 0; /* item 요소의 크기가 줄어들지 않도록 설정 */
}

.item img {
    display: block; /* 이미지 주변의 불필요한 공간 제거 */
    width: 100%; /* 부모 요소(.item) 너비에 맞춰 이미지 가로 크기 조정 */
    height: auto; /* 원래 비율 유지 */
    aspect-ratio: 1 / 1; /* 가로 세로 비율을 1:1로 설정 (정사각형) */
    object-fit: contain; /* 이미지가 요소 내부에 맞춰 비율 유지하며 모두 표시 */
}

.result-list {
    flex-grow: 1;
}

.result-description {
    overflow: hidden; /* 넘치는 내용을 숨김 */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 원하는 줄 수 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.result-address {
    font-size: 0.9em;  /* 글자 크기를 부모 객체 대비 0.9 배로 변경 */
    color: #dc7928; /* 글자색을 더 옅은 회색으로 변경 */
}

.result-title + .result-description {
    margin-top: 1px; /* 원하는 공백 크기로 조정 (예: 5px) */
}

.result-description + .result-address {
    margin-top: 20px; /* 원하는 공백 크기로 조정 (예: 5px) */
}